{% extends "base.html" %} {% load static %} {% load order_tag %} 

{% block content %}
<div id="cost_update" class="container">
  <table class="table table-borderless">
    <form method="post">
      {% csrf_token %} {{ form.as_table }}
      <tr>
        <td></td>
        <td>
          <button class="btn btn-nomad" class="btn btn-nomad" type="submit">
            <span><i class="fas fa-paper-plane"></i></span>
            <span>save</span>
          </button>
        </td>
      </tr>
    </form>
  </table>
</div>
{% endblock %}
