{% load order_tag %}
<input type="hidden" id="item_cnt" value="{{lines|length}}" name="item_cnt"/>
<input type="hidden" id="in_net"   value="{{ in.net }}"     name="net"/>
<input type="hidden" id="in_net0"  value="{{ in.net0 }}"    name="net0"/>
<input type="hidden" id="in_net9"  value="{{ in.net9 }}"    name="net9"/>
<input type="hidden" id="in_net21" value="{{ in.net21 }}"   name="net21"/>
<input type="hidden" id="in_vat"   value="{{ in.vat }}"     name="vat"/>
<input type="hidden" id="in_vat9"  value="{{ in.vat9 }}"    name="vat9"/>
<input type="hidden" id="in_vat21" value="{{ in.vat21 }}"   name="vat21"/>
<input type="hidden" id="in_total" value="{{ in.total }}"   name="total"/>

<table id="items" class="table table-borderless">
  <tr>
    <th width="60px"></th>
    <th class="line_title">DESCRIPTION</th>
    <th class="line_title">UNIT PRICE (EX. VAT)</th>
    <th class="line_title">QUANTITY</th>
    <th class="line_title">TOTAL (EX. VAT)</th>
    <th class="line_title">TAX RATE</th>
  </tr>

  {% for line in lines %}
    <tr>
      <td style="width: 4%">{{line.line_no}}</td>
      <td style="width: 30%" class="border">
        <textarea class="form-control form-control-sm" id="line_{{line.line_no}}_title" name="line_{{line.line_no}}_title"/>{{line.title}}</textarea>
    </td>
    <td class="border">
      <div class="input-group">
        <span class="input-group-text">{{ in.get_currency_display }}</span>
        <input type="text" class="form-control form-control-sm text-end" value="{{line.unit_price|floatformat:in.digit}}" id="line_{{line.line_no}}_price" name="line_{{line.line_no}}_price"/>
      </div>
    </td>
    <td style="width: 15%" class="border">
      <div class="input-group">
        <span class="input-group-text">x</span>
        <input type="text" class="form-control form-control-sm text-end" value="{{line.quantity}}" id="line_{{line.line_no}}_quantity" name="line_{{line.line_no}}_quantity"/>
      </div>
    </td>
    <td class="border">
      <div class="input-group">
        <span class="input-group-text">{{ in.get_currency_display }}</span>
        <input type="hidden" id="line_{{line.line_no}}_total" name="line_{{line.line_no}}_total" value="{{line.total_price}}"/>
        <input type="text"   id="line_{{line.line_no}}_total_show" class="form-control form-control-sm text-end" value="{{line.total_price|floatformat:in.digit}}" disabled="disabled"/>
      </div>
    </td>
    <td class="border">
      <select class='form-select' id="line_{{line.line_no}}_tax_rate" name="line_{{line.line_no}}_tax_rate">
        {% for rate in tax_rates %}
          <option value="{{ rate.value }}" {{ rate.value|select:line.tax_rate }}>{{ rate.label }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
{% endfor %}
<tr>
  <td colspan="2">
    <button type="button" class="btn btn-nomad" onclick="addLine();">
      <i class="fas fa-plus"></i>
    </button>
  </td>
  <td></td>
  <th class="border">Subtotal</th>
  <td id="in_net_show" class="text-end border"></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <th class="border">VAT</th>
  <td id="in_vat_show" class="text-end border"></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <th class="border">Total</th>
  <td id="in_total_show" class="text-end border"></td>
</tr>
</table>
