{% extends "base.html" %} {% load static %} {% load order_tag %} {% load humanize %} 

{% block content %}
<div id="income_info" class="container">
  <form method="post">
    {% csrf_token %}
    <table class="table table-borderless">
      <tr>
        <th><label for="id_status">Status:</label></th>
        <td>
          {{form.status}} 
        </td>
      </tr>
    
      <tr>
        <th><label for="id_rate">Date Paid:</label></th>
        <td>
          <input type="date" name="date_paid" value="{{income.date_paid|date:'Y-m-d'}}" class="form-control" id="id_date_pay">
        </td>
      </tr>

      {% if income.currency != 1 %}
      <tr>
        <th><label for="id_local_total">Total in Local Currency ({{income.get_currency_display}}):</label></th>
        <td>
          <input type="number" value="{{income.local_total|floatformat:income.digit }}" class="form-control" disabled id="id_local_total">
        </td>
      </tr>
    
      <tr>
        <th><label for="id_rate">Rate:</label></th>
        <td>
          <input type="number" name="rate" value="{{income.rate|floatformat:5}}" step="any" class="form-control" id="id_rate">
        </td>
      </tr>
    
      <tr>
        <th><label for="id_total">Total (€):</label></th>
        <td>
          <input type="number" name="total" value="{{income.total|floatformat:2}}" step="any" class="form-control" id="id_total">
        </td>
      </tr>
      {% endif %}
    </table>

    <button type="submit" disabled style="display: none;"></button>
    <button type="button" class="btn btn-nomad" onclick="submit();">
      <span><i class="fas fa-paper-plane"></i></span>
      <span>save</span>
    </button>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/nomad_in_status.js" %}"></script>
{% endblock %}
